[class^="icons"]{
  display: inline-block;
  width: 55px;
  height: 55px;
 // background-attachment: fixed;
  background-repeat:no-repeat;
  background-image: url("../../../static/image/pos.png")
}

.icons-event-hoverbg{
  background-position: 0 0;
  width: 508px;
  height: 169px;
}
.icons-event-usualbg{
  background-position: 0 -185px;
  width: 508px;
  height: 67px;
}

.icons-rank-bar-bg{
  background-position: -548px -128px;
  width: 186px;
  height: 7px;
}
.icons-rank-bar{
  background-position: -548px -122px;
  width: 186px;
  height: 7px;
}

.icons-switch-bg{
  background-position: -548px -86px;
  
  width: 208px;
  height: 36px;
}